:root {
  --accent-color: #2196F3;
  --dark-color: #212121;
  --white-color: #ffffff;
  --grey-color: #757575;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}




/*---COMPONENTS---*/




  
/* =========== HEADER =========== */





/*---HERO---*/


/*---ADVANTAGES---*/


/*--GALLERY--*/

/*-------------TEAM-------------------*/


/*-----------OUR CLIENTS------------*/

/* =========== FOOTER =========== */


/*---------PORTFOLIO----------*/

 